.slides{
	height: 100%;
}
.slide__image{
	width: 100% !important;
	height: 90% !important;
	position: absolute;
	top: 0;
	left: 1%;
}
.slide__info{
	height: 50px;
	width: 100%;
	padding: 3px;
	position: absolute;
	bottom: 10px;
	left:0;
	box-shadow: 0px 3px 6px 1px rgb(38 107 193 / 8%);
}
ion-slides {
	height: 90% !important;
}
.action__icon{
	width: 30px;
}